<h1>
  Articles Index
</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @all_articles.each { |article| %>
      <tr>
        <td><%=article.title %></td>
        <td><%= article.description %></td>
        <td>Some actions</td>
      </tr>
    <% } %>

  </tbody>
</table>

