<div class="container" id="home-container">
  <div class="jumbotron text-left">
    <h1 class="display-4">Coffee Owls</h1>
    <p class="lead">Shared Stories and Experiences</p>
    <hr class="my-4">
    <p>Travel | Work | Life | Drama </p>
    <a class="btn btn-success btn-lg" href="#" role="button">Sign up!</a>
  </div>
</div>
